{% extends 'base.html'  %}

{% block content %}
<section id="budgie-image"></section>

<h2>MERCHANTS WILL GO HERE</h2>

{% for merchant in merchants %}
<section>
    <p>{{ merchant.name }}</p>
</section>

{% endfor %}

<form action="/merchants" method="post">
    <fieldset>
        <legend>add a new merchant:</legend>
        <label for="name">merchant:</label>
        <input type="text" id="name" name="name" value="name" placeholder="name" required autofocus>
        <button type="submit">add merchant</button>

    </fieldset>
</form>

{% endblock %}