{% extends 'base.html'  %}

{% block content %}
<section>
<header>
    <div class="header-wrapper">
        <img src="static/images/budgie_pound.png" alt="budgie pic" id="budgie-image">
        <div></div>
        <h1><span class="abril">Wealth</span><br> is the ability<br> to fully experience<br> <span class="abril">life</span></h1>
        <h2>- HENRY DAVID THOREAU</h2>
        <h4>Are you ready<br> to take control of<br> your spending?</h4>
        <a href="/transactions" id="see-all">see all transactions</a>
        <a href="/transactions/new" id="add-new">add new transaction</a>
    </div>
</header>


</section>


{% endblock %}