{% extends 'base.html'  %}

{% block content %}
<section>
<header>
    <div class="header-wrapper">
        <img src="static/images/budgie_pound.png" alt="budgie pic" id="budgie-image">
        <h1>No budget?<span class="abril">Don't</span><br> be a<br><span class="abril">birdbrain!</span><br>Start saving and<br>let your dreams<br><span class="abril">take flight</span></h1>
        <div id="thoreau-container"><h2>- BUDGIE BUDGET</h2></div>
        <h4>Are you ready<br> to take control of<br> your spending?</h4>
        <a href="/transactions" id="see-all">see all transactions &#10513;</a><br>
        <a href="/transactions/new" id="add-new">&#11064; add new transaction</a>
    </div>
</header>


</section>


{% endblock %}