{% extends 'base.html' %}

{% block content %}

<form action="/transactions/{{ transaction.id }} " method="post" class="add-to-db">
    <h4>edit transaction</h4>
    <input type="text" class="input-one" id="amount" name="amount" placeholder="amount" required autofocus>

    <select id="merchant" class="input-two" name="merchant">
        <option value="none" selected disabled hidden>
            choose a merchant
        </option>
        {% for merchant in merchants %}
        <option value="{{ merchant.id }}">{{ merchant.name }}</option>
        {% endfor %}
    </select>

    <select id="tag" class="input-three" name="tag">
        <option value="none" selected disabled hidden>
            choose a tag
        </option>
        {% for tag in tags %}
        <option value="{{ tag.id }}">{{ tag.category }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="submitter">edit transaction  &#10513;</button> 
</form>


{% endblock %}