{% extends 'base.html'  %}

{% block content %}
<h2>Transactions go here</h2>

<section class="card">
{% for transaction in transactions %}
    <p><a href="/transactions/{{ transaction.id }}"> {{ transaction.amount }}</a></p>

{% endfor %}
</section>

<h4>total transactions: {{ total_transactions }} </h4>

<form action="/transactions" method="post">
    <fieldset>
        <legend>add a new transaction:</legend>
        <label for="amount">amount:</label>
        <input type="text" id="amount" name="amount" placeholder="amount" required autofocus>

        <label for="merchant">merchant:</label>
        <input type="text" id="merchant" name="merchant" placeholder="merchant" required autofocus>

        <label for="tag">tag:</label>
        <input type="text" id="tag" name="tag" placeholder="tag" required autofocus>

        <button type="submit">add transaction</button>
    </fieldset>
</form>


<h3><a href="/transactions/new">add a new transaction &#9758;</a></h3>
{% endblock %}