button[type=submit] {
    padding: 10px;
    margin: 10px;
    border: 2px dotted darkturquoise;
    border-radius: 7px;
    padding-bottom: 20px;
    box-shadow: -1px -1px 4px rgba(0,0,0,0.2);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}