body {
    background-color: antiquewhite;
}

#navbar {
    background-color: #F9B5AC;
    display: flex;
}

h1 {
    font-family: 'Cormorant', serif;
    font-size: 4em;
}


/* 
#budgie-image {
    width: 70vw;
    background-image: url('/static/images/budgie_pound.png');

} */